@import "footer.css";
@import "nav.css";
@import "cta.css";
@import "jumbo.css";
@import "switch.css";
@import "typography.css";
body {
    background:url('http://source.unsplash.com/random');
    background-size: cover;
    background-repeat: no-repeat;
    
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}
